@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<BookSale.Models.Product>
<div id="main">
<div class="inner">
<h1>Products</h1>
<br />
	<div class="image main">
	  <img src="~/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
	</div>
<br />
<ul id="search-list" class="list-unstyled py-3">
  <li class="d-flex px-3">
   <input id="input-search" type="text" placeholder="Search">
    <i class="bi bi-search" id="search"></i>
     </li>
</ul>  
<section class="tiles">
 @await Component.InvokeAsync("Categories")
@foreach(var product in Model)
	{
			<!-- Products -->
					<article class="style1">
					 <span class="image">
					  <img src="@product.ImageUrl" alt=""/>
				       </span>
					    <a asp-action="Details" asp-route-productId="@product.Id">
						 <h2>@product.Title</h2>
						  <h3> by @product.Author</h3>
						   <p><del>@product.ListPrice.ToString("0.00")</del> 
							   <strong>@product.Price100.ToString("0.00")</strong></p>
							 </a>
					</article>      
	}
	
</section>
<div  style="margin-left:500px;font-size:25px">
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page}))
</div>
</div>
</div>
