@using X.PagedList;
@using X.PagedList.Mvc.Core
@model IPagedList<BookSale.Models.Product>
<div id="main">
<div class="inner">
<h1>Products</h1>
<br />
	<div class="image main">
	  <img src="~/images/banner-image-6-1920x500.jpg" class="img-fluid" alt="" />
	</div>
<br />
<section class="tiles">
  <div class="container">
                <div class="row pt-5">
                    <div class="col-12 d-flex justify-content-between">
                       <ul class="category  d-md-flex list-unstyled">
                            <li><a href="" data-id="">All</a></li>
                            <li><a href="" data-id="">Action and Adventure</a></li>
                            <li><a href="" data-id="">Classics</a></li>
                            <li><a href="" data-id="">Detective and Mystery</a></li>
                            <li><a href="" data-id="">Fantasy</a></li>
                            <li><a href="" data-id="">Historical Fiction</a></li>
                            <li><a href="" data-id="">Horror</a></li>
                            <li><a href="" data-id="">Romance</a></li>
                        </ul>
                       </div>
                </div>
 </div>
@foreach(var product in Model)
	{
			<!-- Products -->
					<article class="style1">
					 <span class="image">
					  <img src="@product.ImageUrl" alt=""/>
				       </span>
					    <a asp-action="Details" asp-route-productId="@product.Id">
						 <h2>@product.Title</h2>
						  <h3> by @product.Author</h3>
						   <p><del>@product.ListPrice.ToString("0.00")</del> 
							   <strong>@product.Price100.ToString("0.00")</strong></p>
							 </a>
					</article>      
	}
	
</section>
<div  style="margin-left:500px;font-size:25px">
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new{page}))
</div>
</div>
</div>
