@model IEnumerable<BookSale.Models.Product>

<section class="tiles">
	@foreach(var product in Model)
	{
			<!-- Products -->
					<article class="style1">
					 <span class="image">
					  <img src="@product.ImageUrl" alt="" />
				       </span>
					    <a asp-action="Details" asp-route-id="@product.Id">
						 <h2>@product.Title</h2>
						  <h3> by @product.Author</h3>
						   <p><del>@product.ListPrice.ToString("0.00")</del> 
							   <strong>@product.Price100.ToString("0.00")</strong></p>
							 </a>
							  </article>      
	}
	</section>			
								
							
							